{% extends "admin/base.html" %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Votaciones') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
